.contact-page-down {
  margin-top: 150px;
}

.google-map-div {
  margin-bottom: 100px;
  text-align: center;
}

.google-map-div p{
  color: aliceblue;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}

@media (min-width: 0px) and (max-width: 700px){
  .google-map-div iframe {
    height: 400px;
  }
}

@media (min-width: 0px) and (max-width: 500px){
  .google-map-div iframe {
    height: 300px;
  }
}
